*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}


:root {
  --text-color: rgb(255, 255, 255);
  --bg-color: rgb(14, 18, 23);

  --border-color: #525866;

  --header-height: 64px;
}

/* CSS CHO HEADER  */
header {
  color: var(--text-color);
  background-color: var(--bg-color);
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  padding: 12px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo svg {
  height: 18px;
  width: auto;
}

.search {
  display: flex;
  align-items: center;
}

.search form {
  height: 48px;
}

.search-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #1c1f26;
  padding: 4px 12px;
  border: 1px solid #1c1f26;
  border-radius: 16px;
}

.search-item svg {
  height: 32px;
  width: 32px;
}

.search-item input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 17px;
  outline: none;
  margin-left: 4px;
}

.search-item kbd {
  padding: 2px 8px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.search-item span {
  margin: 0px 4px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-dau-cong {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #1c1f26;
}
.button-dau-cong svg {
  font-size: 20px;
  color: #000;
}

.button-chuong {
  height: 40px;
  width: 40px;
  background-color: #1c1f26;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.button-chuong svg {
  font-size: 30px;
}

.info__noti-avatar {
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8b3cf;
  border: 1px solid #a8b3cf;
  border-radius: 12px;
  margin-left: 8px;
  padding: 0 8px
}

.info__noti-avatar button{
  background-color: transparent;
}

.info__noti-avatar img {
  height: 32px;
  margin-left: 8px;
  border-radius: 4px;
}

.info__noti-avatar .avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS CHO MAIN  */
main {
  color: var(--text-color);
  background-color: var(--bg-color);
  height: calc(100vh - var(--header-height));
  display: flex;
}


aside {
  width: 239px;
  border-right: 1px solid var(--border-color);
  padding: 32px 0px 16px 0px;
}


li {
  list-style: none;
  height: 28px;
  padding: 0px 12px;

}

li:hover {
  background-color: #a8b3cf33;
  cursor: pointer;
}

.active {
  background-color: #a8b3cf33;
}

a {
  text-decoration: none;
  color: var(--text-color);
  line-height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
}
a span {
  display: flex;
  align-items: center;
}

a .menu_svg{
  margin-right: 6px;
}

.main-content {
  padding: 20px 40px;
  width: 100%;
}

.news-list{
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-card {
  height: 385px;
  width: 300px;
  border: 1px solid  var(--border-color);
  border-radius: 16px;
  background-color: #1c1f26;
}

